<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/articles/list">Articles</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
    <h1 class="display-4">Edit Article</h1>
    <form method="post" action="/articles/update/<%= article.id %>">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="<%= article.title %>" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" class="form-control"><%= article.body %></textarea required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
