<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <form class="d-flex" action="/articles/findByTitle" method="post">
      <div class="row" action="/articles/findByTitle" method="post">
        <div class="col">
          <input class="form-control me-2" type="search" placeholder="Search by title" name="title" aria-label="Search">
        </div>
        <div class="col">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>
     <div/>
    <span>OR</span>
     <div/>
    <form class="d-flex" action="/articles/findByAuthor" method="post">
      <div class="row">
        <div class="col">
          <input class="form-control me-2" type="search" placeholder="Search by author" name="author" aria-label="Search">
        </div>
        <div class="col">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>
    <div/>
      <% articles.forEach(function(article){ %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.body %></td>
                <td><i><%= article.author %></i></td>

                <td>
                <a href="/articles/edit/<%= article.id %>" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/articles/remove/<%= article.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
