<h1 class="display-4">Project Articles</h1>
<p class="mb-4">This is a project for learning sails js!</p>
<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add Article</a>
